<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Welcome to Quoting Dojo!</title>   
</head>
<body>
    <div class="wrapper">
        <div class="formbox">
            <form action='/quotes' method='POST' id="quoteform">
                Your Name:<input type="text" name="name" id="quoteform">
                <br>
                <br>
                Your quote: <input type="text" name="quote" id="quoteform">
                <br>
                <input type='submit' value='Add my quote!' id="quoteform">
                <button><a href="/quotes">Skip to quotes!</a></button>
            </form>    
        </div>

    </div>
        
</body>
</html>