<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>New Car Information</title>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/cats">Cats</a></li>
                <li><a href="/cars">Cars</a></li>
            </ul>
        </div>

        <div class="carform">
            <form action="#" method="POST">
                First name:
                <br>
                <input type="text" name="firstname">
                <br>
                Last name:
                <br>
                <input type="text" name="lastname">
                <br>
                <br>
                <input type="radio" name="gender" value="male" checked> Male<br>
                <input type="radio" name="gender" value="female"> Female<br>
                <input type="radio" name="gender" value="other"> Other
                <br>
                <br>
                <select name="cars" size="4" multiple>
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="fiat">Fiat</option>
                    <option value="audi">Audi</option>
                    <option value="porsche">Porsche</option>
                    <option value="ford">Ford</option>
                    <option value="chevrolet">Chevrolet</option>
                    <option value="dodge">Dodge</option>
                    <option value="toyota">Toyota</option>
                    <option value="honda">Honda</option>
                </select>
                <br>
                <br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>
</html>